.carsel{
    padding: 5px;
    height: 250px;
    width: 500px;
}
.index{
    margin-top: 10px;
}
.carousel{
    margin-top: 10px;
}
.details{
    margin-top: 10px;
}
.footer{
    margin-top: 10px;
}
.login{
    margin-top: 210px;
}
