@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
.carsel{
    padding: 5px;
    height: 250px;
    width: 500px;
}
.index{
    margin-top: 10px;
}
.carousel{
    margin-top: 10px;
}
.details{
    margin-top: 10px;
}
.footer{
    margin-top: 105px;
}
.login{
    margin-top: 210px;
}
.custom-form {
    margin-top: 50px;
    margin-bottom: 35px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .center-heading {
    text-align: center;
    color: black;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: black;
    height: 10px;
    line-height: 1.5; /* Adjust line height as needed */
  }
 /*navbar*/
 .bg-pink-lightest {
    background-color: #fffaeb;
  }
  .navbar{
    width: 100%;
  }
  
  .box{
    width: 500px;
  }
 /* Media query for smaller screens Search-Box*/
@media screen and (max-width: 768px) {
    .searchBox {
      width: 80%; /* Adjust width for smaller screens */
      margin-left: auto; /* Center horizontally */
      margin-right: auto; /* Center horizontally */
    }
  
    .box {
      width: 80%; /* Adjust width for smaller screens */
      margin-left: auto; /* Center horizontally */
      margin-right: auto; /* Center horizontally */
    }
  }
  
  /* Media query for 1200px screens Search-Box*/
  @media screen and (min-width: 1200px) and (max-width: 1399px) {
    .searchBox {
      width: 700px; /* Adjust width for 1200px screens */
      margin-left: auto; /* Center horizontally */
      margin-right: auto; /* Center horizontally */
    }
  
    .box {
      width: 700px; /* Adjust width for 1200px screens */
      margin-left: auto; /* Center horizontally */
      margin-right: auto; /* Center horizontally */
    }
  }
  
  /* Media query for 1400px screens Search-Box*/
  @media screen and (min-width: 1400px) and (max-width: 1599px) {
    .searchBox {
      width: 800px; /* Adjust width for 1400px screens */
      margin-left: auto; /* Center horizontally */
      margin-right: auto; /* Center horizontally */
    }
  
    .box {
      width: 800px; /* Adjust width for 1400px screens */
      margin-left: auto; /* Center horizontally */
      margin-right: auto; /* Center horizontally */
    }
  }
  
  /* Media query for 1600px screens Search-Box*/
  @media screen and (min-width: 1600px) {
    .searchBox {
      width: 900px; /* Adjust width for 1600px screens */
      margin-left: auto; /* Center horizontally */
      margin-right: auto; /* Center horizontally */
    }
  
    .box {
      width: 900px; /* Adjust width for 1600px screens */
      margin-left: auto; /* Center horizontally */
      margin-right: auto; /* Center horizontally */
    }
  }
  /* Media query for 1800px screens */
@media screen and (min-width: 1800px) {
    .searchBox {
      width: 900px; /* Adjust width for 1800px screens */
      margin-left: auto; /* Center horizontally */
      margin-right: auto; /* Center horizontally */
    }
  
    .box {
      width: 900px; /* Adjust width for 1800px screens */
      margin-left: auto; /* Center horizontally */
      margin-right: auto; /* Center horizontally */
    }
  }
  @media screen and (min-width: 1100px) and (max-width: 1799px) {
    .searchBox {
      width: 700px; /* Adjust width for 1100px screens */
      margin-left: auto; /* Center horizontally */
      margin-right: auto; /* Center horizontally */
    }
  
    .box {
      width: 700px; /* Adjust width for 1100px screens */
      margin-left: auto; /* Center horizontally */
      margin-right: auto; /* Center horizontally */
    }
  }
  
  /* Media query for 900px screens */
@media screen and (min-width: 900px) and (max-width: 1099px) {
    .searchBox {
      width: 600px; /* Adjust width for 900px screens */
      margin-left: auto; /* Center horizontally */
      margin-right: auto; /* Center horizontally */
    }
  
    .box {
      width: 600px; /* Adjust width for 900px screens */
      margin-left: auto; /* Center horizontally */
      margin-right: auto; /* Center horizontally */
    }
  }
/* Default table width */
/* Default styles for .searchBox */
@media screen and  (min-width: 350px) and (max-width: 400px){
  .searchBox {
    width: 300px; /* Adjust width for 900px screens */
    margin-left: 20px; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
  }

  .box {
    width: 200px; /* Adjust width for 900px screens */
    margin-left: 50px; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
  }
  
}
@media screen and  (min-width: 550px) and (max-width: 750px){
  .searchBox {
    width: 410px; /* Adjust width for 900px screens */
    margin-left: 20px; /* Center horizontally */
    margin-right: auto;
    margin-top: 20px; /* Center horizontally */
  }

  .box {
    width: 400px; /* Adjust width for 900px screens */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
  }
}
.searchBox {
  margin-top: 20px; /* Center horizontally */
}
.myTable{
  margin-top: 20px;
  max-width: 1000px;
  margin-left: 315px;
}

@media screen and  (min-width: 400px) and (max-width: 500px){
  .myTable{
    margin-top: 20px;
    max-width: 50px;
    margin-left: 20px;
  }
    
}
@media screen and  (min-width: 550px) and (max-width: 600px){
  .myTable{
    margin-top: 20px;
    max-width: 10px;
    margin-left: 20px;
  }
    
}
@media screen and  (min-width: 1200px) and (max-width: 1270px){
  .myTable{
    margin-top: 20px;
    width: 900px;
    margin-left: 220px;
  }
    
}
.btns{
  margin-top: 100px;
}
.btn2{
  margin-top: 50px;
  height: 80px;
  margin-left: 180px;
  width: 450px;
}
.btn1{
  height: 80px;
  margin-left: 180px;
  width: 450px;
}

.cards{
  margin-top: 50px;
}
.sigmacard{
  max-width: 750px;
}
.sigmacard1{
  margin-left: 20px;
}
.sigmacard3{
  margin-left: 20px;
  margin-top: 10px;
}
.sigmacard4{
  margin-top: 10px;
}
@media screen and  (min-width: 1200px) and (max-width: 1300px){
 
  .btns{
    margin-top: 20px;
  }
  .btn2{
    margin-top: 20px;
    height: 80px;
    margin-left: 60px;
  }  
  .btn1{
    margin-top: 20px;
    height: 80px;
    margin-left: 60px;
  }  
  .sigmacard{
    max-width: 500px;
  } 
  .sigmacard1{
    margin-left: 80px;
  }
  .sigmacard2{
    margin-left: 80px;
  }
  .sigmacard3{
    margin-left: 80px;
  }
  .sigmacard4{
    margin-left: 80px;
  }
}
@media screen and  (min-width: 1700px) and (max-width: 1800px){
  .btn2{
    margin-top: 20px;
    height: 80px;
    margin-left: 60px;
  }  
  .btn1{
    margin-top: 20px;
    height: 80px;
    margin-left: 60px;
  }
  

}
